@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-9">
        <p>
            Rent & Cycle aggregates offers from bicycle rental companies around Melbourne.
            You can select and book a bike to rent, select a place where to pick it up and drop it off,
            for more than a long ride and throughout the whole city.
        </p>
    </div>
</div>
